<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="RyanLaptop" connectionString="Data Source=RYAN-LAPTOP;Initial Catalog=DMS;Persist Security Info=True;User ID=sa;Password=sa"/>
    <add name="JustinHomeDMS" connectionString="Data Source=JUSTIN-DT;Initial Catalog=DMS;Integrated Security=True" />
    <add name="ScheduleManagementSystem.Test.Properties.Settings.DMSConnectionString"
      connectionString="Data Source=JUSTIN-DT;Initial Catalog=DMS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ScheduleManagementSystem.Test.Properties.Settings.DMSConnectionString1"
      connectionString="Data Source=RYAN-LAPTOP;Initial Catalog=DMS;Persist Security Info=True;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>